<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - {{ constant('PROJECT_NAME') }} Frontend Preview</title>
        {% endblock %}
        <style type="text/css">

        </style>
    </head>
    <body>
        <div class="q-preview">{% block content %}{% endblock %}</div>
    </body>
</html>